.card {
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(60deg, rgba(255,255,255,0.1), rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  transform: rotate(45deg);
  animation: liquidLight 4s linear infinite;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(115, 255, 0, 0.3), 0 0 20px rgba(255, 255, 255, 0.1);
}

@keyframes liquidLight {
  0% { transform: translateX(-100%) rotate(45deg); }
  50% { transform: translateX(100%) rotate(45deg); }
  100% { transform: translateX(-100%) rotate(45deg); }
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.image {
  width: 100%;
  border-radius: 10px;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #303030;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: #e4e4e4;
}

.wishlist:hover {
  color: var(--primary-color);
  background: var(--background-color);
}

.wishlist:active {
  transform: scale(0.95);
}

.active {
  color: var(--primary-color);
  background: var(--background-color);
}


.content {
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  color: var(--text-color);
}

.price {
  float: right;
  font-weight: bold;
  color: var(--primary-color);
}

.desc {
  font-size: 13px;
  color: #dbdbdb;
  margin: 5px 0 10px 0;
}

.rating {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.star {
  font-size: 14px;
  margin-right: 2px;
  color: #ccc;
}

.starActive {
  color: var(--primary-color);
}

.reviewCount {
  margin-left: 5px;
  font-size: 13px;
  color: #cecece;
}

.addBtn {
  margin-top: auto;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: var(--primary-color);
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
  font-weight: bold;
  
}

.addBtn:hover {
  background: #ffffff;
  color: var(--background-color);
}
