.casualSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  padding-left: 1rem; 
  padding-right: 1rem;
  margin-top: 2rem; 
  gap: 1rem; 
}

@media (min-width: 768px) {
  .casualSection {
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 1rem;
    column-gap: 1rem; 
  }
}

@media (min-width: 1024px) {
  .casualSection {
    grid-template-columns: repeat(8, 1fr); 
    padding-left: 4rem; 
    padding-right: 4rem;
  }
}

.leftContent {
  grid-column: span 1;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .leftContent {
    grid-column: span 2;
    margin-bottom: 0; 
  }
}

.imageCard {
  position: relative;
  grid-column: span 1;
  height: 15rem; 
  border-radius: 1rem; 
  background-color: #f3f4f6; 
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 640px) {
  .imageCard {
    height: 20rem; 
  }
}

@media (min-width: 768px) {
  .imageCard {
    grid-column: span 3; 
  }
}
